html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #00eaff, rgba(0, 234, 255, 0));
  transition: background 0.3s, padding 0.3s;
  z-index: 1000;
  padding: 20px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-links a:hover {
  background-color: #333;
  color: #fff;
  border-radius: 50px;
}

.section {
  padding: 120px 20px 60px;
  background-color: #fff;
  margin-top: 80px; /* To ensure sections don't overlap with fixed navbar */
}

.section:nth-child(even) {
  background-color: #f9f9f9;
}

.section-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: start;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-text {
  max-width: 600px;
}

.section-image {
  max-width: 600px;
  /* border-radius: 100px; */
}

.section-image img {
  max-width: 100%;
  height: auto;
  border-radius: 2000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-section .section-text,
.about-section .section-image {
  flex: 1;
}

.about-section .section-image img {
  margin-left: 20px;
  box-shadow: 0 0 20px #00eaff; /* Initial glow effect */
  animation: glow 1s infinite alternate; /* Animation for the glow effect */
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px #010203;
  }
  to {
    box-shadow: 0 0 70px #00eaff, 0 0 80px #00eaff;
  }
}

h1,
h2 {
  margin: 10px 0;
}

h1 {
  font-size: 2.5em;
  color: #007bff;
}

h2 {
  font-size: 2em;
  color: #00eaff;
}

p {
  margin: 10px 0 20px 0;
  color: #555;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }
  .navbar a {
    padding: 10px;
    margin: 0 5px;
  }
  .section-container,
  .about-section {
    grid-template-columns: 1fr;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  .about-section .section-image img {
    margin-left: 0;
  }
}
